<nav class="well">
    <p><a class="btn btn-primary btn-lg" href="/" role="button" style="background-color: white; border: none; color: #141414;">Home</a></p>
</nav>


<div class="container">
  <h1 style="text-align: center;"><%= @winner if @winner != nil %></h1>
  <h1 style="text-align: center;"><em><%= "Continue playing..." if @winner == nil %></em></h1>
</div>

<div class="container" id="player">
  <div class="row">
    <div class="col-xs-2 col-md-1">
      <h2><a href="/play/hit/<%= @current_cards.id%>">Hit</a></h2>
    </div>
    <div class="col-xs-2 col-md-1">
      <h2><a href="/play/hit/<%= @current_cards.id%>">Stay</a></h2>
    </div>
  </div>
  <h2> Player's Hand:  <%= @player_value %> </h2>
    <% @player.each do |card| %>
      <div class="col-xs-3 col-md-3">
        <div class="thumbnail center-block">
          <%= image_tag "cards/#{card.img_file}", class: "img-responsive" %>
        </div>
      </div>
    <% end %>
</div>

<div class="container" id="dealer">
  <div class="row">
    <% if @winner !=nil %>
      <h2>Dealer's Hand:  <%= @dealer_value %></h2>
    <% else %>
      <h2>Dealer's Hand:  </h2>
    <% end %>
    <% @dealer.each_with_index do |card, index| %>
      <% if index == 0 %>
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail center-block">
            <%= image_tag "cards/#{card.img_file}", class: "img-responsive" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% @dealer.each_with_index do |card, index| %>
      <% if index > 0 %>
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail center-block">
            <%= image_tag "cards/643px-Cards-Reverse.svg.png", class: "img-responsive" %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

<%= debug params %>
